<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
<div class="container" style="width:100%;">
        <div class="row h-100 justify-content-center align-items-center" id="homp">
            <a th:href="@{/listP}"><img th:src="@{/images/homp.png}" class="img-fluid" alt="My Blog"></a>

        </div>

</div>
<footer class="bg-light text-center text-black" style="position:absolute; bottom:0%;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" href="#!" role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" href="https://www.linkedin.com/in/jia-yue" role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-dark btn-floating m-1 rounded-circle" href="https://github.com/Yue-Jia" role="button"><i class="fab fa-github"></i></a>
        </section>

        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 From Burlington Canada:
        <a class="text-dark" href="https://www.yueejia.com/">Yue Jia</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>